:root {
    --background: #1D1C28;
    --primary: #272727;
    --secondary: #3A3850;
    --alt: #FFFFFF;
    --alt-background: #F4F4F4;
    --success: #34CC96;
    --warning: #E9A464;
    --danger: #F54B4B;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--background);
    color: var(--primary);
    max-width: 100%;
    min-height: 100%;
    overflow-x: hidden;
}

.blur-effect {
    filter: blur(100px);
    z-index: -1;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Space Mono', monospace;
    font-weight: bold;
}

a {
    text-decoration: none;
}

.success {
    background-color: var(--success);
}

.warning {
    background-color: var(--warning);
}

.danger {
    background-color: var(--danger);
}

.btn,
.nav-pills .nav-link {
    border-radius: 0;
}

.btn-secondary {
    background-color: var(--secondary);
    border-color: var(--secondary);
}

.btn-check:focus+.btn-success,
.btn-success:focus {
    box-shadow: none
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background: none;
    border-bottom: 1px solid var(--success);
}

.call-to-action {
    height: 190px;
}

.call-to-action a {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: var(--alt);
    text-transform: uppercase;
    width: 148px;
    z-index: 2;
}

.call-to-action .secondary {
    margin-top: -24px
}

.call-to-action .primary-arrow {
    margin-left: 105px;
    margin-top: 52px;
    transition: transform .4s ease-in-out;
}

.call-to-action .secondary-arrow {
    margin-left: 95px;
    margin-top: 45px;
    transition: transform .4s ease-in-out;
}

.homepage-header #homepage-laptop {
    width: 1300px;
    z-index: 1;
}

.homepage-header h1 {
    font-size: 48px;
    line-height: 70px;
    color: var(--alt);
    padding: 75px 0;
    z-index: 2;
    position: relative;
}

.homepage-header h1 span {
    border-bottom: 6px solid var(--success);
    height: 56px;
}

.homepage-details {
    background-color: var(--alt);
    padding: 100px 0;
}

.homepage-details h2 {
    font-size: 36px;
    line-height: 53px;
    margin-bottom: 25px;
}

.homepage-details p {
    font-size: 16px;
    line-height: 22px;
    max-width: 400px;
}

.homepage-details .intro-pane a {
    font-family: 'Space Mono', monospace;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: var(--primary);
    text-decoration: none;
    border-bottom: 1px solid var(--success);
}

.homepage-details .intro-pane .flex-container {
    z-index: 3
}

.homepage-details .notification-pane {
    padding-top: 100px;
}

.homepage-details .notification-pane .notification {
    height: 68px;
    background: var(--alt-background);
}

.homepage-details .notification-pane .notification .details p {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 18px;
}

.homepage-details .notification-pane .notification .details p:first-of-type {
    font-weight: bold;
}

.homepage-details .notification-pane .notification .status {
    padding-top: 5px;
}

.homepage-details .notification-pane .notification span {
    font-family: 'Space Mono', monospace;
    font-weight: bold;
    font-size: 14px;
}

.homepage-details .notification-pane #fader {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 1)));
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 1) 100%);
    position: absolute;
    z-index: 2;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
}

.homepage-features {
    padding-top: 100px;
}

.homepage-features .secondary-blur {
    margin-top: 700px;
    margin-left: 200px;
}

.homepage-features svg:first-of-type {
    right: 20%
}

.homepage-features .run-scan h2 {
    font-size: 48px;
    line-height: 71px;
}

.homepage-features .run-scan p {
    font-size: 16px;
    line-height: 22px;
}

.homepage-features .run-scan .primary {
    background-color: var(--success);
    text-transform: uppercase;
    border: 0;
}

.homepage-features .run-scan .scan {
    background-color: rgba(255, 255, 255, 0.1);
    text-transform: uppercase;
    border: 0;
}

.homepage-features .features {
    margin: 150px 0;
}

.homepage-features .features h3 {
    font-size: 48px;
    line-height: 60px;
}

.homepage-features .features h5 {
    font-size: 20px;
    line-height: 30px;
}

.homepage-features .stats::before {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.5;
    background: #FFFFFF;
    mix-blend-mode: overlay;
}

.homepage-features .stats .alt-stats-box {
    background-color: rgba(255, 255, 255, 0.05);
}

.homepage-features .stats h5 {
    font-size: 48px;
    line-height: 50px;
}

.homepage-features .stats p {
    margin-bottom: 0;
}

.homepage-faq {
    background-color: #FCFCFC;
    padding: 100px 0;
}

.homepage-faq .accordion-button,
.homepage-faq .accordion-body {
    background-color: #FCFCFC;
}

.homepage-faq .accordion-button:focus {
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.homepage-faq .accordion-button:not(.collapsed) {
    color: var(--success);
}

.homepage-faq .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2334CC96'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
}

.homepage-ready {
    background-color: var(--alt);
    padding-top: 100px;
    border-top: 1px solid var(--alt-background)
}

.footer {
    padding: 20px 0;
    font-size: 12px;
    line-height: 14px;
    color: #d5d5d5;
}

.footer a {
    color: var(--alt);
    font-size: 12px;
}

.footer .copyright {
    color: #c5c5c5;
}

.footer .copyright .author {
    color: var(--warning);
}

.feature-header {
    margin-top: 150px;
}

.feature-stats {
    background-color: var(--alt);
    padding-top: 75px;
}

.feature-stats .stats h5 {
    font-size: 48px;
    line-height: 50px;
}

.feature-stats .stats p {
    margin-bottom: 0;
}

.feature-stats .code-generation h3 {
    font-size: 48px;
    line-height: 60px;
}

.feature-stats .code-generation .interface {
    margin-top: -100px;
    margin-left: -50px;
}

.feature-breakdown .author p {
    margin-top: 5px;
}

.feature-breakdown .author svg {
    margin-top: 16px;
}

.feature-breakdown .feature-highlight {
    margin-top: 250px;
    margin-bottom: 150px
}

.feature-breakdown .feature-highlight h2 {
    font-size: 48px;
    line-height: 71px;
}

.feature-breakdown #feature-repeat {
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 1px;
    color: #1d1c28;
    font-family: Space Mono;
    font-size: 96px;
    font-style: normal;
    font-weight: bold;
    margin-left: -10%;
    margin-top: 204px;
    max-height: 120px;
    opacity: 0.2;
    overflow-y: hidden;
    position: absolute;
    width: 150%;
    z-index: -1;
    text-transform: uppercase;
}

.feature-breakdown .feature-comment {
    margin-bottom: 150px;
}

.feature-breakdown .feature-comment .comment {
    margin: 150px 0;
}

.feature-run {
    background-color: var(--alt);
    padding: 100px 0;
}

.feature-run .run-scan h2 {
    font-size: 48px;
    line-height: 71px;
}

.feature-run .run-scan p {
    font-size: 16px;
    line-height: 22px;
}

.feature-run .run-scan .primary {
    background-color: var(--success);
    text-transform: uppercase;
    border: 0;
}

.feature-run .run-scan .scan {
    background-color: var(--background);
    text-transform: uppercase;
    border: 0;
}

@media only screen and (max-width: 600px) {
    .blur-effect {
        display: none !important;
    }
    .feature-buttons a {
        width: 100%;
        display: block;
    }
    .homepage-ready {
        padding-bottom: 300px;
    }
    .feature-header {
        margin-bottom: 140px;
    }
    .code-generation {
        padding-bottom: 50px;
    }
    .feature-highlight {
        margin-top: 150px !important;
    }
    .feature-breakdown .feature-comment {
        margin-bottom: 50px;
    }
    .feature-breakdown .feature-comment .comment {
        margin: 25px 0;
    }
}